.loading-container {
  width: 100vw;
  height: 100vh;
  top: 0;
  position: fixed;
  background: rgba($black, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);

  .loader {
    width: 120px;
    height: 120px;
    transform: rotate(-90deg);
    stroke-linecap: round;
    stroke-width: 4;
    fill: none;

    .internal-circle,
    .external-circle {
      stroke: $secondary;
      stroke-dashoffset: 0;
      transform-origin: center;
    }

    .internal-circle {
      stroke: $primary;
      stroke-dasharray: 187;
      animation: internal 1s ease-in-out infinite;
      opacity: 0.4;
    }

    .external-circle {
      stroke-dasharray: 312;
      animation: external 1s linear infinite;
      opacity: 0.9;
    }
  }

  @keyframes internal {
    0% {
      stroke-dashoffset: 187;
    }
    25% {
      stroke-dashoffset: 80;
    }
    100% {
      stroke-dashoffset: 187;
      transform: rotate(360deg);
    }
  }

  @keyframes external {
    0% {
      stroke-dashoffset: 312;
      transform: rotate(70deg);
    }
    60% {
      stroke-dashoffset: -312;
    }
    100% {
      stroke-dashoffset: -312;
      transform: rotate(450deg);
    }
  }
}
