body, html {
  font-size: 20px;
  color: $black;
  background: $white;
}

.submit-button {
    width: 100%;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

h4 {
  font-size: 1.3rem;
  font-weight: 600;
}

h5 {
  font-size: 1.2rem;
  font-weight: 600;
}

h6 {
font-size: 1.1rem;
  font-weight: 600;
}

p {
font-size: 1rem;
}