$primary: #00308f !default;
$secondary: #d1af3a !default;
$success: #4acc4b !default;
$warn: #f3d60e !default;
$danger: #c50400 !default;

$white: #efefef !default;
$black: #111111 !default;
$grey-light: #ccc !default;
$grey: #888 !default;
$grey-dark: #444 !default;
